html {
  font-size: 62.5%;
  /*10 ÷ 16 × 100% = 62.5%*/
}
body {
  overflow-x: hidden;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 0;
  font-family: 'helvetica neue', 'hiragino sans gb', arial, tahoma, '黑体', 'Microsoft Yahei', sans-serif;
}
a,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
input,
label,
legend,
li,
mark,
ol,
p,
section,
span,
strong,
textarea,
time,
ul,
var {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  outline: none;
}
body,
html {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  height: 100%;
}
article,
aside,
details,
fieldset,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
a,
button,
cite,
code,
del,
em,
img,
label,
mark,
small,
strong,
textarea,
time,
var {
  display: inline-block;
}
footer,
header,
section {
  position: relative;
}
ol,
ul,
li,
dl,
dd,
dt {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
button,
input,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  background-color: transparent;
}
span {
  display: inline-block;
}
a:active,
a:hover {
  outline: 0;
}
a,
a:visited {
  text-decoration: none;
}
.wordWrap,
label {
  word-wrap: break-word;
  word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
#wlui {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: white;
  padding-bottom: 3rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
h5 {
  font-weight: 300;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
em {
  display: block;
  clear: both;
}
fieldset,
img,
video,
textarea {
  border: none;
  width: 100%;
  margin: 0px;
  border: 0;
  padding: 0px;
  vertical-align: top;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.loading_more {
  display: block;
  height: 2.4rem;
  width: 100%;
}
.loading_more:before {
  background-image: url(../image/loading_more.gif) 30% center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.loading_more:after {
  content: '加载更多';
}
.bottomline {
  position: relative;
}
.bottomline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dadada;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
}
