/*登录*/
#wlui {
  position: relative;
  background-size: 100%;
  height: 100%;
  padding-bottom: 0;
}
#wlui.login {
  background: #3e434a url('/image/1-1306030RI8.jpg') no-repeat;
  /* 必需 */
  /* .expand-enter 定义进入的开始状�?*/
  /* .expand-leave 定义离开的结束状�?*/
  /* .expand-enter 定义进入的开始状�?*/
  /* .expand-leave 定义离开的结束状�?*/
}
#wlui.login .page {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
}
#wlui.login .page table {
  width: 80%;
  line-height: 2;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#wlui.login .page table tr td .iconfont {
  font-size: 2rem;
  color: white;
}
#wlui.login .page table tr td .icon-yanzhengma {
  font-size: 1.5rem;
}
#wlui.login .page table tr td input[type="tel"],
#wlui.login .page table tr td input[type="text"],
#wlui.login .page table tr td input[type="password"],
#wlui.login .page table tr td input[type="email"] {
  color: white;
  width: 80%;
  margin-left: 10%;
  border-bottom: 1px solid white;
  padding: .2rem .3rem;
  font-family: "黑体";
}
#wlui.login .page table tr td input[type="button"] {
  color: white;
  background: #DECE01;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 3rem auto 0;
  width: 100%;
}
#wlui.login .page table tr td input:-webkit-input-placeholder,
#wlui.login .page table tr td input:-moz-placeholder,
#wlui.login .page table tr td input:-ms-input-placeholder {
  color: #ddd;
}
#wlui.login .page table tr td #txt_code {
  width: 35%;
  margin-left: 10%;
  border-bottom: 1px solid white;
  padding: .2rem .3rem;
}
#wlui.login .page table tr td .login_img {
  width: 40%;
  margin-left: 5%;
  display: inline-block;
  height: 2.3rem;
  line-height: 2.3rem;
  position: relative;
}
#wlui.login .page table tr td .login_img #svg_code {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wlui.login .page table tr td .login_img #img_code {
  width: 100%;
}
#wlui.login .page table tr td .btn_link {
  color: #09B194;
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
#wlui.login .page table tr td .red {
  color: red;
}
#wlui.login .page table tr td .green {
  color: green;
}
#wlui.login .page table tr td:first-child {
  text-align: right;
}
#wlui.login #register table #btn_register {
  background-color: #5DE000;
}
#wlui.login #register table tr:last-child td {
  text-align: left;
}
#wlui.login .left-transition,
#wlui.login .right-transition {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
#wlui.login .left-enter,
#wlui.login .left-leave {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#wlui.login .right-enter,
#wlui.login .right-leave {
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
#wlui.index {
  background: #3e434a;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  color: white;
  flex-flow: column;
  /* 必需 */
  /* .expand-enter 定义进入的开始状�?*/
  /* .expand-leave 定义离开的结束状�?*/
}
#wlui.index #header {
  background-color: #2E3949;
  height: 3.9rem;
  line-height: 3.9rem;
}
#wlui.index #header #header_ul {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
#wlui.index #header #header_ul li {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}
#wlui.index #header #header_ul li .iconfont {
  font-size: 1.8rem;
}
#wlui.index #header #header_ul #head_title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font-size: 1.5rem;
  padding: 0 1rem;
}
#wlui.index #header #header_ul li:first-child,
#wlui.index #header #header_ul li:last-child {
  width: 12%;
  text-align: right;
}
#wlui.index #header #header_ul li:last-child {
  text-align: left;
  -webkit-transform-origin: 21%;
  transform-origin: 21%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
#wlui.index #header #header_ul li.select {
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
}
#wlui.index #menu_list {
  position: absolute;
  width: 50%;
  left: 0;
  background-color: rgba(46, 57, 73, 0.9);
  height: 100%;
  z-index: 99;
}
#wlui.index #menu_list #menu_ul li {
  color: white;
  text-align: center;
  padding: 1rem 0;
}
#wlui.index #menu_list #menu_ul li .userHead {
  width: 20%;
  border-radius: 99999px;
  margin: 1rem 0 .5rem 8%;
  vertical-align: middle;
}
#wlui.index #menu_list #menu_ul li .userName {
  color: white;
  margin: 0 0 0 6%;
  width: 62%;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
#wlui.index #menu_list #menu_ul .select {
  background-color: #0073FF;
}
#wlui.index #menu_list #menu_ul .border_1 {
  border-bottom: 1px solid #3E4E64;
}
#wlui.index #menu_list #menu_ul .border_2 {
  border-bottom: 1px solid #64443E;
}
#wlui.index #menu_list #menu_ul .border_3 {
  border-bottom: 1px solid #563E64;
}
#wlui.index #menu_list #menu_ul .border_4 {
  border-bottom: 1px solid #455314;
}
#wlui.index #menu_list #menu_ul .border_5 {
  border-bottom: 1px solid #30572C;
}
#wlui.index #menu_list #menu_ul .border_6 {
  border-bottom: 1px solid #004A80;
}
#wlui.index #main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  overflow: hidden;
}
#wlui.index #main #hide {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
#wlui.index .slide_right-transition,
#wlui.index .slide_right-transition {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
#wlui.index .slide_right-enter,
#wlui.index .slide_right-leave {
  opacity: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
